body{margin:0;}
a{color:black;text-decoration: none;}
h1{font-size: 60px;text-align: center;border-bottom:2px solid black;margin: 0;padding: 15px;}
#grid{display: grid;grid-template-columns: 180px 1fr;}
#grid #article{padding-left: 25px;}
#grid ol{border-right: 2px solid black; margin:0;padding:30px;padding-top: 10px;}

@media (max-width:600px) {
    #grid{display:block;}
    #grid ol{border:none;text-align:center;}
    h1{border-bottom-style: dashed;}
}
